*{
    margin: 0;
    padding: 0;
    
}

.card-info {
    width: 60%;
    height: 60%;
    max-width: 300px;
    max-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 255, 0.51);
    padding: 30px;
    margin: 30px;
    border-radius: 30px;
    border: 1px solid black;

}