bot_telegram/data
bot_telegram/node_modules
bot_telegram/

telegram_bot/node_modules
telegram_bot/dist 
telegram_bot/data

web

ui\node_modules
ui/dev.db
fix_sequences.mjs
telegram_bot/prisma/seed.ts
