database.db
__pycache__/config.cpython-313.pyc
__pycache__/settings.cpython-313.pyc
__pycache__/types_.cpython-313.pyc
DB/__pycache__/__init__.cpython-313.pyc
DB/__pycache__/database.cpython-313.pyc
DB/__pycache__/models.cpython-313.pyc
domination/__pycache__/__init__.cpython-313.pyc
domination/__pycache__/lang_utils.cpython-313.pyc
domination/__pycache__/message.cpython-313.pyc
domination/__pycache__/translations.cpython-313.pyc
domination/__pycache__/uteis.cpython-313.pyc
domination/plugins/__pycache__/__init__.cpython-313.pyc
domination/plugins/__pycache__/ComandoFav copy.cpython-313.pyc
domination/plugins/__pycache__/ComandoFav.cpython-313.pyc
domination/plugins/__pycache__/config.cpython-313.pyc
domination/plugins/__pycache__/configs.cpython-313.pyc
domination/plugins/__pycache__/contador.cpython-313.pyc
domination/plugins/__pycache__/dominar.cpython-313.pyc
domination/plugins/__pycache__/eventos.cpython-313.pyc
domination/plugins/__pycache__/example_multilingual.cpython-313.pyc
domination/plugins/__pycache__/gift.cpython-313.pyc
domination/plugins/__pycache__/harem_mode.cpython-313.pyc
domination/plugins/__pycache__/harem.cpython-313.pyc
domination/plugins/__pycache__/inline.cpython-313.pyc
domination/plugins/__pycache__/lang.cpython-313.pyc
domination/plugins/__pycache__/language.cpython-313.pyc
domination/plugins/__pycache__/listar_anime.cpython-313.pyc
domination/plugins/__pycache__/myinfos.cpython-313.pyc
domination/plugins/__pycache__/pags.cpython-313.pyc
domination/plugins/__pycache__/top.cpython-313.pyc
domination/plugins/__pycache__/trade.cpython-313.pyc
domination/plugins/__pycache__/welcome.cpython-313.pyc
migrate_sqlite_to_postgres.py
migration_log.txt
teste_h.session
teste_h.session-journal
teste_w.session-journal
teste_w.session
alembic/script.py.mako
alembic/versions/__pycache__/0bf568999c46_tornar_configs_opcional.cpython-313.pyc
alembic/versions/__pycache__/2c694b849a3a_add_fav_fields_to_usuario.cpython-313.pyc
alembic/versions/__pycache__/4cfe81acf12f_adicionar_campo_idioma_chats_tg.cpython-313.pyc
alembic/versions/__pycache__/5a7871959826_add_language_preferences.cpython-313.pyc
alembic/versions/__pycache__/0902a6360a78_criação_inicial.cpython-313.pyc
alembic/versions/__pycache__/46634fbac903_criando_tabela_groups_tg.cpython-313.pyc
alembic/versions/__pycache__/53903f6f0d99_add_configs_w_h.cpython-313.pyc
alembic/versions/__pycache__/cc216759daba_update_idioma_fields_to_enum.cpython-313.pyc
alembic/versions/__pycache__/ec670a2146be_adicionar_sistema_idiomas_chats.cpython-313.pyc
alembic/__pycache__/env.cpython-313.pyc
.vscode/launch.json
.env
domination/plugins/comandos/__pycache__/ComandoFav.cpython-313.pyc
domination/plugins/comandos/__pycache__/contador.cpython-313.pyc
domination/plugins/comandos/__pycache__/dominar.cpython-313.pyc
domination/plugins/comandos/__pycache__/gift.cpython-313.pyc
domination/plugins/comandos/__pycache__/lang.cpython-313.pyc
domination/plugins/comandos/__pycache__/myinfos.cpython-313.pyc
domination/plugins/comandos/__pycache__/top.cpython-313.pyc
domination/plugins/comandos/__pycache__/trade.cpython-313.pyc
main.py
domination/__pycache__/harem_pages.cpython-313.pyc
domination/plugins/__pycache__/harem_pages.cpython-313.pyc
domination/plugins/__pycache__/lang_utils.cpython-313.pyc
HUS.session
HUS.session-journal
WAIFU.session
WAIFU.session-journal
domination/plugins/__pycache__/admin.cpython-313.pyc
sessions/
alembic/versions/__pycache__/3c2773b5ffc2_corrige_id_local_para_identity_.cpython-313.pyc
alembic/versions/__pycache__/9f1734eda64b_final_check.cpython-313.pyc
alembic/versions/__pycache__/50fcb19d2592_check_differences.cpython-313.pyc
alembic/versions/__pycache__/0215d260f70d_fix_chattg_id_identity.cpython-313.pyc
alembic/versions/__pycache__/add_unique_constraints.cpython-313.pyc
alembic/versions/__pycache__/fix_auto_increment.cpython-313.pyc
alembic/versions/__pycache__/fix_chattg_id_simple.cpython-313.pyc
alembic/versions/__pycache__/3c2773b5ffc2_corrige_id_local_para_identity_.cpython-313.pyc
domination/__pycache__/logger.cpython-313.pyc
__pycache__/uteis.cpython-313.pyc
domination_db/__pycache__/__init__.cpython-313.pyc
domination_db/plugins/__pycache__/__init__.cpython-313.pyc
domination_db/plugins/__pycache__/add.cpython-313.pyc
domination_db/plugins/__pycache__/serialization_example.cpython-313.pyc
main copy.py
__pycache__/teste.cpython-313.pyc
alembic/versions/__pycache__/8d7faf9d6785_fix_id_columns_identity.cpython-313.pyc
domination/plugins/comandos/__pycache__/listar_anime.cpython-313.pyc
domination_db/plugins/__pycache__/edit.cpython-313.pyc
logs/domination.log
domination/plugins/comandos/__pycache__/listar_anime.cpython-313.pyc
alembic/versions/__pycache__/746b3e8d9014_update_tipo_evento_enum.cpython-313.pyc
domination_db/plugins/edit/__pycache__/__init__.cpython-313.pyc
domination_db/plugins/edit/__pycache__/_edit.cpython-313.pyc
domination_db/plugins/edit/__pycache__/edit_anime_text.cpython-313.pyc
domination_db/plugins/edit/__pycache__/edit_midia.cpython-313.pyc
domination_db/plugins/edit/__pycache__/edit_r_e.cpython-313.pyc
domination_db/plugins/edit/__pycache__/edit_raridade_evento.cpython-313.pyc
domination_db/plugins/edit/__pycache__/edit_text.cpython-313.pyc
domination_db/plugins/edit/__pycache__/salvar.cpython-313.pyc
domination_db/plugins/edit/__pycache__/uteis_edit.cpython-313.pyc
domination/plugins/comandos/__pycache__/listar_anime.cpython-313.pyc
domination_db/plugins/__pycache__/del.cpython-313.pyc
alembic/versions/__pycache__/ce685350e1d5_sync_enum_values_with_python_code.cpython-313.pyc
logs/domination.log
