version: "3.9"

services:
  app:
    build: .
    container_name: bots
    command: python main.py
    env_file:
      - .env
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      PYTHONUNBUFFERED: "1"
